body {
  margin: 0;
  color: #676F74;
  background-color: #F5F5F5;

  .black-underline-1 {
    border-bottom: 1px solid #676F74;
  }
  .black-underline-2 {
    border-bottom: 2px solid #676F74;
  }
  .blue-underline-1 {
    border-bottom: 1px solid #8EDAE5;
  }
  .blue-underline-2 {
    border-bottom: 2px solid #8EDAE5;
  }
  .red-underline-1 {
    border-bottom: 1px solid #F99695;
  }
  .red-underline-2 {
    border-bottom: 2px solid #F99695;
  }
  .yellow-underline-1 {
    border-bottom: 1px solid #F0E68C;
  }
  .yellow-underline-2 {
    border-bottom: 2px solid #F0E68C;
  }

  a {
    text-decoration: none;
  }

  table {
    border-collapse: collapse;

    thead {
        position:sticky;
        top: 0;
        background-color: #676F74;
        color: #FFFFFF;
    }

    td {
        border-bottom: 1px solid #AAAAAA;
        background-color: #FFFFFF;
    }

    .col-year-month-date {
      width: 140px;
      text-align: center;
    }
    .col-cd {
      width: 100px;
      text-align: center;
    }
    .col-category {
      width: 100px;
      text-align: center;
    }
    .col-user {
      width: 100px;
  
      select {
        width: 100px;
      }
    }
    .col-amount {
      min-width: 110px;

      &:not(th) {
        text-align: right;
        padding-right: 20px;;
      }
    }
    .col-shop-name {
      min-width: 110px;
      padding-left: 20px;
    }
    .col-date {
      width: 100px;
      text-align: center;
    }
    .col-image-button {
      width: 30px;
      padding-top: 6px;
  
      img {
        // border-radius:20px;
        // box-shadow: 3px 3px 4px #808080;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        max-width: 20px;
        // padding: 5px 5px;
        border: none;
    
        &:hover {
          cursor: pointer;
          background-color: #F0E68C;
        }
      }
    }
  }

  @mixin button-common {
    border-radius:20px;
    box-shadow: 3px 3px 4px #808080;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 220px;
    padding: 5px 20px;
    color: #676F74;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: #f0e053;
    }

    &:disabled {
      cursor: default;
      background-color: #CCCCCC;
    }
  }

  .button-primary {
    @include button-common();
    background-color: #F0E68C;
  }

  .button-cancel {
    @include button-common();
    background-color: #FFFFFF;
  }
}