#home-table-area {
    height: 70vh;
    overflow-y: scroll;
}

#home-table {
    border-collapse: collapse;
}

#home-table thead {
    position:sticky;
    top: 0;
    background-color: #AAA;
}

#home-table th,
#home-table td {
    border: 1px solid #AAA;
}

.flexbox {
    display: flex;
}