#category-maintenance {
  .category-maintenance-input {
    margin: 30px 0;
    
    label {
      width: 80px;
      float: left;
      padding: 0 10px;
      text-align:justify;
      text-align-last:justify;
      font-weight: 800;
      height: 26px;
    }
  
    input {
      width: 200px;
      height: 20px;
      margin-right: 30px;
    }
  }
    
  .col-category {
    width: 200px;
  }

  select {
    height: 26px;
    border-right: none;
  }
}