#home-table-area {
    height: 85vh;
    overflow-y: scroll;

  tr {

    .col-checkbox {
      width: 20px;
    }
    .col-date {
      width: 30px;
      text-align: center;
    }
    .col-day {
      width: 35px;
    }
    .col-category {
      width: 100px;
      text-align: center;
    }
    .col-amount {
      width: 100px;
      
      &:not(th) {
        text-align: right;
        padding-right: 10px;;
      }
    }
  }
}
