#main {
  #display-handler {
    input {
      margin-left: auto;
    }

    label {
      user-select: none;
    }
  }

  #home-table-area {
    height: 75vh;
    overflow-y: scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */

    &::-webkit-scrollbar {
      display:none;
    }

    .sunday-row {
      .col-day,
      .col-date {
        color: #F99695;
      }
    }
  
    .saturday-row {
      .col-day,
      .col-date {
        color: #40bed1;
      }
    }

    .selected-row {
      td {
        &:not(.col-checkbox , .col-date, .col-day) {
          background-color: #ffdcdb;
        }
      }
    }
  
    tr {
      .col-checkbox {
        width: 20px;
      }
      .col-date {
        width: 30px;
        text-align: center;
        
        &:not(th) {
          cursor: pointer;
        }
      }
      .col-day {
        width: 35px;
        padding-right: 5px;
        
        &:not(th) {
          cursor: pointer;
        }
      }
    }
  }

  .home-button {
    margin: 10px 10px 10px 0;

    img {
      max-width: 25px;
      padding-right: 5px;
    }
  }

  #subtotal {
    margin: 15px 0 10px auto;
  }

  .label-input {
    label {
      width: 50px;
      float: left;
      padding: 0 10px;
      text-align:justify;
      text-align-last:justify;
    }
  
    input {
      width: 80px;
    }
  }

  #flex-right {

    .label-input {
      margin: 29px 20px;

      label {
        font-weight: 800;
        height: 26px;
      }

      input {
        height: 20px;
      }
    }
    
    #balance {
      label {
        color: #F99695;
      }
    }

    #message-table {
      margin: 20px;

      table {
        border-collapse: collapse;
        border: 1px solid #AAAAAA;

        td {
          padding: 5px;

          img {
            max-width: 20px;
            padding-right: 5px;
          }
        }
      }
    }
  }

  #sub-table {
    margin: 29px 20px;

    .col-count {
      min-width: 50px;
      text-align: center;
    }
  }
}