#name-editor {
  margin: 10px;

  #name-editor-input-area {
    text-align: center;
  }

  #name-editor-button-area {
    margin-top: 10px;
    
    button {
      margin: 10px;
    }
  }
}