#result {
  .col-category {
    width: 100px;
    text-align: center;
  }
  .col-amount {
    width: 100px;
    
    &:not(th) {
      text-align: right;
      padding-right: 10px;;
    }
  }
}