#advances-paid {

  .label-input {
    label {
      width: 100px;
      float: left;
      padding: 0 10px;
      text-align:justify;
      text-align-last:justify;
      font-weight: 800;
      height: 26px;
    }
  
    input {
      width: 80px;
      height: 20px;
    }
  }

  #bulk-return-area {
    margin: 50px 50px;

    #bulk-sum {
      margin-right: 30px;
    }
  }

  #return-area {
    margin-top: 30px;

    .col-refund {
      width: 60px;
      text-align: center;
      padding-top: 6px;

      img {
        max-width: 20px;
      }
    }

    .disabled-image-button {
      background-color: #AAA;
      box-shadow: none;

      &:hover {
        cursor: initial;
      }
    }
  }
}