#payment {

  .payment-input-area {
    width: 260px;
    margin-right: 10px;

    .label-input {
      &:not(#payment-year, #payment-month, #payment-date) {
        margin: 5px 0px;

        label {
          width: 80px;
          float: left;
          padding-right: 10px;
          text-align:justify;
          text-align-last:justify;
          height: 26px;
        }
      
        input {
          &:not(input[type='checkbox'], input[type='file']) {
            width: 160px;
            height: 20px;
          }
        }
      }
    }

    #payment-year_input {
      width: 32px;
      margin-right: 5px;
    }

    #payment-month_input {
      width: 20px;
      margin-left: 5px;
    }
    
    #payment-date_input {
      width: 20px;
      margin-left: 5px;
    }    
  }
}
#detail-table-area {
  height: 80vh;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */

  &::-webkit-scrollbar {
    display:none;
  }

  #detail-table {

    button {
      margin :5px;
    }
    
    td {
      height: 30px;
  
      input {
        &:not(#sum-amount-input) {
          height: 100%;
          padding-top: 0;
        }
        border: none;
        user-select: none;
      }
  
      select {
        height: 100%;
        border: none;
      }
    }
  
    .col-class {
      width: 100px;
      text-align: center;
      input, select {
        width: 100px;
      }
    }
  
    .col-tax-rate {
      width: 10px;
    }
  
    .col-item-count {
      min-width: 50px;
      input {
        width: 50px;
        text-align: right;
      }
    }
  
    .col-payment {
      min-width: 60px;
      input {
        width: 60px;
        text-align: right;
        padding-right: 5px;
      }
    }
  
    .col-button {
      button {
        margin-left: auto;
        margin-right: auto;
      }
    }
  
    .payment-img {
      margin-left: 10px;
    }
  
    #sum-label {
      text-align: center;
    }
  
    #sum-amount {
      text-align: right;
    }
  
  }
}
    #payment-note {
      margin-top: 5px;
      width:250px;
      height: 78px;
    }