#budget {
  
  button {
    margin: 0 auto;
  }

  #burden {
    input {
      width: 20px;
      text-align: right;
    }
  }

  #budget-table {
    margin-top: 20px;

    .col-amount {
      padding: 0;
    }    
  }

  #budget-right {

    #sum {
      label {
        color: #F99695;
      }
    }

    .label-input {
      margin: 29px 20px;

      label {
        width: 50px;
        float: left;
        padding: 0 10px;
        text-align:justify;
        text-align-last:justify;
        font-weight: 800;
        height: 26px;
      }
    
      input {
        width: 80px;
        height: 20px;
      }
    }
  }
}