#deposit {
  #deposit-input-area {
    margin: 50px 0;

    #deposit-amount {
      margin: 0 30px;
    }    
  }

  #deposit-table-area {
    margin-top: 30px;
    
    #deposit-history-table {
      margin-left: 50px;
    }
  }
}